
body {
	padding-top: 70px;
}

.thumbnail img {
	width: 100%;

}

.thumbnail {
	padding:0px;

}

.thumbnail .caption-full{
	padding:9px;
}

 #map {
   width: 100%;
   height: 300px;
   background-color: grey;
 }

.pager .active a{
    background-color : #337AB7;
    color: #FFF;
    border: 0px;
}